<template name="adminLayer">
  {{#if currentUser}}
  <div class="main">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#results" aria-controls="results" role="tab" data-toggle="tab">Results</a></li>
      <li role="presentation"><a href="#ranking" aria-controls="results" role="tab" data-toggle="tab">Ranking</a></li>
      <li role="presentation"><a href="#generatecode" aria-controls="generatecode" role="tab" data-toggle="tab">Generate Code Test</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="results">
        <h2>Results</h2> {{> admin_results}}
      </div>
      <div role="tabpanel" class="tab-pane" id="ranking">
        <h2>Ranking</h2> {{> admin_ranking}}
      </div>
      <div role="tabpanel" class="tab-pane" id="generatecode">
        <h2>Generar Codigo Test</h2> {{> generate_code}}
      </div>
    </div>
  </div>
  {{> insertModal}} {{> alertModal}} {{> showUserModal}}
  {{/if}}
</template>