<template name="insertTestsForm">
  <div class="form-group">
    <label class="col-sm-2 control-label">Title:</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" name="title" />
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Name:</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" name="name" />
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-6 control-label">Questions Random:</label>
    <div class="checkbox col-sm-6">
      <label>Sí
        <input type="radio" name="QRand" value="true" />
      </label>
      <label>No
        <input type="radio" name="QRand" value="false" />
      </label>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-6 control-label">Answers Random:</label>
    <div class="checkbox col-sm-6">
      <label>Sí
        <input type="radio" name="ARand" value="true" />
      </label>
      <label>No
        <input type="radio" name="ARand" value="false" />
      </label>
    </div>
  </div>
</template>